@model CommonEnitity.Catalog.CatalogItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CatalogItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureFileName" class="control-label"></label>
                <input asp-for="PictureFileName" class="form-control" />
                <span asp-validation-for="PictureFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUri" class="control-label"></label>
                <input asp-for="PictureUri" class="form-control" />
                <span asp-validation-for="PictureUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogTypeId" class="control-label"></label>
                <select asp-for="CatalogTypeId" class="form-control" asp-items="ViewBag.CatalogTypeId"></select>
                <span asp-validation-for="CatalogTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogBrandId" class="control-label"></label>
                <select asp-for="CatalogBrandId" class="form-control" asp-items="ViewBag.CatalogBrandId"></select>
                <span asp-validation-for="CatalogBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableStock" class="control-label"></label>
                <input asp-for="AvailableStock" class="form-control" />
                <span asp-validation-for="AvailableStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestockThreshold" class="control-label"></label>
                <input asp-for="RestockThreshold" class="form-control" />
                <span asp-validation-for="RestockThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStockThreshold" class="control-label"></label>
                <input asp-for="MaxStockThreshold" class="form-control" />
                <span asp-validation-for="MaxStockThreshold" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnReorder" /> @Html.DisplayNameFor(model => model.OnReorder)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
